.message{
    &__wrapper{
        margin: 2.5rem;

        &--date{
            margin-inline: .8rem;
            margin-top: .5rem;
            font-size: 1rem;
        }

        &--sender{
            position: relative;

            &::after{
                content: '';
                position: absolute;
                background-color: var(--color-primary);
                width: 3rem;
                height: 3rem;
                border-radius: .8rem;
                transform: skew(-45deg);
                z-index: -1;
            }

            max-width: 65%;
            margin-left: auto;
            display: flex;
            flex-direction: column;
            align-items: end;
            margin-block: 2rem;
            
            &-content{
                background-color: var(--color-primary);
                border-radius: 1rem;
                text-align: end;
                padding: 1.2rem;
                width: fit-content; 
            }

        }

        &--recipient{
            max-width: 65%;
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-block: 2rem;

            &::after{
                content: '';
                position: absolute;
                background-color: var(--color-secondary);
                width: 3rem;
                height: 3rem;
                border-radius: .8rem;
                transform: skew(45deg);
                z-index: -1;
            }

            &-content{
                background-color: var(--color-secondary);
                border-radius: 1rem;
                padding: 1.2rem;
                width: fit-content;
            }
        }
    }
}