.chat {
	display: grid;
	grid-template-rows: 1fr 7fr 1fr;
	width: 100vw;
	height: 100vh;

	&__form {
		display: grid;
		place-items: center;
		padding: var(--spacing-sm);
	}

	&__body {
		padding-inline: 3rem;
		overflow: scroll;
		scroll-behavior: smooth;

		&::-webkit-scrollbar {
			display: none;
		}
	}
}
