.chat{
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
    width: 100vw;
    height: 100vh;
    &__body{
        background-color: var(--background-primary-dark);
        filter: brightness(1.2);
    }
    &__send-message{
        display: grid;
        grid-template-columns: 3fr 1fr;
        padding: var(--spacing-lg);
        column-gap: var(--spacing-sm);
        &__input{
            background-color: var(--background-primary-light);
            border: none;
            border-radius: 0.4rem;
            padding: var(--spacing-sm) var(--spacing-md);
            font-size: 1.6rem;
            color: var(--text-color-primary);
            &::placeholder{
                color: var(--text-color-primary);
            }
        }
        &__button{
        background-color: var(--color-primary);
        color: var(--text-color-primary);
        border: none;
        border-radius: 0.4rem;
        padding: var(--spacing-sm) var(--spacing-md);
        font-size: 1.6rem;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover{
            background-color: var(--color-secondary);
        }
    }
}
}