@import '@assets/css/globals';

.wrapper {
	display: flex;
	background-color: var(--background-primary-darken);
	column-gap: var(--spacing-sm);
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border-radius: var(--spacing-sm);
	transition: outline 0.2s ease-in-out;
	padding: var(--spacing-sm);
	box-shadow: 0 10px 15px -3px rgb(167 167 167 / 10%);

	@include above(phone-portrait-up) {
		max-width: 98%;
		border-radius: 1rem;
	}

	&:focus-within {
		outline: 0.2rem solid var(--color-primary);
	}

	&__input {
		flex: 1;
		white-space: nowrap;
		background: none;
		border: none;
		border-radius: 0.4rem;
		font-size: 1.6rem;
		resize: none;
		color: var(--text-color-primary);

		&:focus {
			outline: none;
		}

		&::placeholder {
			color: var(--text-color-black);
		}
	}

	&__button {
		background-color: var(--color-primary);
		padding: var(--spacing-xs);
		border-radius: var(--spacing-xs);
		border: none;
		color: white;
		font-size: 2.5rem;
		transition: 0.2s;
		cursor: pointer;

		&:hover {
			background-color: var(--color-primary-darken);
		}
	}
}
